.ProfilePageAvatar{
    object-fit: cover;
    width: 280px;
    height: 280px;
    border: 0.5px solid #13020d;
    border-radius: 8px;
}
.ProfileLoginName{
    margin-bottom: 1rem;
    text-align: left;
    font-size: 38px;
    color: aliceblue;
    font-weight: 500;
}
.ProfileInfo{
    padding-top: 59px;
}
.ProfileDiv{
    display: flex;
    margin-bottom: 2rem;
}
.ProfileFriends{
    border: #13020d 0.5px solid;
    border-radius: 8px;
    padding: 12px;
    min-height: 150px;
    margin-right: 4rem;
}
.ProfileSubHeadline{
    min-width: 500px;
    border-left: 5px solid #9b3d9554;
    padding-left: 8px;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    background-color: #9b3d9554;
    margin-bottom: 1rem;
    color: aliceblue;
    border-radius: 4px;
}
.ProfileSubHeadline2{
    color: aliceblue;
    border-left: 5px solid #9b3d9554;
    padding-left: 8px;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    background-color: #9b3d9554;
    width: 300px;
    margin-bottom: 1rem;
    border-radius: 4px;
}
.ProfileEdit{
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 8px;
    padding: 4px 8px 4px 8px;
    font-size: 22px;
    background-color: #13020d;
    color: #fefaf8;
    box-shadow: rgba(195, 0, 255, 0.2) 4px 4px 30px 5px;
}
.AddToFriend{
    height: 42px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 22px;
    background-color: #13020d;
    color: #fefaf8;
    box-shadow: rgba(195, 0, 255, 0.2) 4px 4px 30px 5px;
}
.ProfileEdit:active{
    transition: 0.2s;
    scale: 0.95;
}
.ProfileChange{
    min-height: 30px;
    margin-top: 4px;
    display: flex;
}
.ProfileAvatarDiv{
    flex-direction: column;
    display: flex;
    min-width: 300px;
}
.AddToFriend div{
    margin-left: 15px;
}
.AddToFriend span{
    margin-left: 5px;
}
.ProfilePageMain{
    display: flex;
    justify-content: space-between;
}
.ProfileFavoriteDiv{
    min-height: 296px;
    border: 0.5px solid #13020d;
    border-radius: 8px;
    padding: 12px 26px 12px 26px;
}